* {
	margin: 0;
	padding: 0;
}
header,section,nav,aside,footer {
    display:block;
}

header {

  background-image: url("../images/head.png");
  width: 831px;
  height: 212px;
  margin-top: 50px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
  background-color: #000;
}

.rope {
  width: 700px;
  height: 3px;
  position: absolute;
  background-image: url("../images/rope.png");
  background-repeat:repeat-x;
  background-color: #752872;
}

.axis path, .axis line {
      fill: none;
      stroke: #fff;
      shape-rendering: crispEdges;
    }
    circle {
      fill: #67fb3d;
      fill-opacity: 0.5;
    }
    rec
    {
      fill: #67fb3d;
      fill-opacity: 0.5;
    }
    text
    {
      fill: #fff;
    }

